@font-face {
  font-family: 'San Francisco Mono';
  src: url('assets/fonts/SFMono-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'San Francisco Mono';
  src: url('assets/fonts/SFMono-Bold.otf') format('opentype');
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'San Francisco Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 20px;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 740px;
  height: 500px;
  margin: 0px 40px;
}

.intro__wrapper {
  z-index: 1;
}

.intro {
  max-width: 370px;
  margin-right: 40px;
}

.intro p {
  margin-bottom: 20px;
  max-width: 350px;
}

.intro h1 {
  margin-bottom: 20px;
}

.intro p:first-child {
  font-weight: 700;
}

.intro__text__symbol:before {
  content: '→';
}

.intro__actions {
  font-weight: 700;
}

.intro__actions__button {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding: 12px 20px;
  border: 1px solid white;
  border-radius: 2px;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.intro__actions__button:hover {
  background-color: white;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.intro__actions__links {
  display: block;
  font-size: 12px;
}

.actions__link {
  text-decoration: none;
  color: white;
  opacity: 0.35;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

.actions__link:hover {
  opacity: 1;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

.actions__divider {
  opacity: 0.35;
}

.demo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.demo {
  position: relative;
  width: 250px;
  height: 500px;
  -webkit-animation: fadeIn 1s ease-out;
  animation: fadeIn 1s ease-out;
}

.demo__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 500px;
  /*background-color: black;*/
  border-radius: 10px;
}

.demo:after {
  display: none;
}

.demo__img--1 {
  -webkit-animation-name: fadeInOut;
  animation-name: fadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.demo__shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-filter: blur(40px);
  background-size: 200% 200%;
  background: -webkit-linear-gradient(45deg, rgb(255, 115, 0), rgb(126, 15, 255));
  background: linear-gradient(45deg, rgb(255, 115, 0), rgb(126, 15, 255));
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

@media (max-width: 750px) {
  body {
    display: block;
    overflow-x: hidden;
  }

  .content__wrapper {
    height: auto;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .intro__wrapper {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .intro {
    margin: 0;
    text-align: center;
  }

  .intro__text__symbol:before {
    content: '↑';
  }

  .demo__wrapper {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .demo {
    height: 200px;
  }

  .demo:after {
    display: block;
    content: '';
    position: absolute;
    left: -25px;
    right: -25px;
    bottom: -360px;
    height: 320px;
    background-color: black;
    border-top: 1px solid rgba(255,255,255,0.35);
  }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeInOut {
  0% { opacity: 1; }
  45% { opacity: 1; }
  55% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fadeInOut {
  0% { opacity: 1; }
  45% { opacity: 1; }
  55% { opacity: 0; }
  100% { opacity: 0; }
}
